@PythonReference
traces/
/traces

emulator-service


# Arquivos de ambiente e configuração sensível
.env
.env.*
*.env

# Logs e traces
logs/
traces/
*.log
*.trace

# Binários compilados
bin/
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
