<div class="row flex-nowrap">
  <div class="col-auto col-md-0 col-xl-0 px-0" style="background-color: rgb(255, 255, 255);">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">
      <button class="btn btn-dark d-block d-sm-none mb-3" type="button" data-bs-toggle="collapse"
        data-bs-target="#menuCollapse" aria-expanded="false" aria-controls="menuCollapse">
        <i class="bi bi-list fs-4"></i>
      </button>
      <div class="collapse d-sm-block" id="menuCollapse">
        <ul class="nav flex-column align-items-start" id="menu">
          <li>
            <a href="/" 
              class="nav-link px-0 align-middle" 
              style="background: none; border: none; color: rgb(5, 5, 5); cursor: pointer; ">
              <i class="bi bi-tablet fs-4"></i>
              <span class="ms-1">Dispositivos</span>
            </a>
          </li>
          <li>
            <a href="/comparison" class="nav-link px-0 align-middle" style="background: none; border: none; color: rgb(5, 5, 5); cursor: pointer; ">
              <i class="bi bi-arrow-left-right fs-4"></i>
              <span class="ms-1">Comparação</span>
            </a>
          </li>
          <li>
            <button class="nav-link px-0 align-middle" style="background: none; border: none; color: green; cursor: pointer;" onclick="start_all_emulators()">
              <i class="bi bi-play-circle fs-4" style="color: green;"></i>
              <span class="ms-1">Iniciar Todos</span>
            </button>
          </li>
          <li>
            <button class="nav-link px-0 align-middle" style="background: none; border: none; color: rgb(245, 70, 70); cursor: pointer;" onclick="stop_all_emulators()">
              <i class="bi bi-stop-circle fs-4" style="color: rgb(245, 70, 70);"></i>
              <span class="ms-1">Parar Todos</span>
            </button>
          </li>
          <li>
            <a href="/refresh" class="nav-link px-0 align-middle">
              <i class="bi bi-arrow-clockwise fs-4"></i>
              <span class="ms-1">Refresh DB</span>
            </a>
          </li>
          <li>
            <!-- Button to trigger recreate operation -->
            <!--button id="recreate-btn" class="btn btn-primary">Recreate Emulators</button-->
          </li>
        </ul>
      </div>
      <hr>
    </div>
  </div>


  <script>
    window.start_all_emulators = async () => {
      const selectedDevicesLog = getSelectedDevicesLog();
      try {
        const response = await fetch('/start', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ devices: ["all"], enable_log: selectedDevicesLog }),  // Ajuste conforme necessário
        });
      } catch (error) {
        console.error('Erro ao iniciar emuladores:', error);
        alert('Erro ao iniciar emuladores.');
      }
    };
    window.stop_all_emulators = async () => {
      try {
        const response = await fetch('/stop', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ devices: ["all"] }),  // Ajuste conforme necessário
        });
      } catch (error) {
        console.error('Erro ao parar emuladores:', error);
        alert('Erro ao parar emuladores.');
      }
    };

    // Função para obter IDs dos dispositivos selecionados para habilitar o Log
    function getSelectedDevicesLog() {
      console.log("getSelectedDevicesLog")
      const devicesLog = {};
      const deviceCheckboxes = document.querySelectorAll('input.log-checkbox');

      deviceCheckboxes.forEach((checkbox) => {
        const row = checkbox.closest('tr'); // Acessa a linha da tabela
 
        if (row) {
          // Encontre o elemento <td> com o ID 'port_no'
          const portElement = row.querySelector('td#port_no');

          if (portElement) {
            // Pegue o valor do texto do <td>
            const port = portElement.textContent.trim();

            // Adicione o valor ao objeto devicesLog com base no estado do checkbox
            devicesLog[port] = checkbox.checked;
          }
        }
      });

      return devicesLog;
    }
    
  </script>

</document_content></document>
</invoke>

<function_calls>